<%= form_for @user, url: {action: "create"} do |f| %>
  <%= f.label(:username, "User name: ", class: 'form-control') %>
  <%= f.text_field :username, placeholder: "johnDoe" %>
  <%= f.label(:email, "Email: ") %>
  <%= f.email_field :email, placeholder: 'myemail@provider.tld'%>
  <%= f.label(:password, "Password: ") %>
  <%= f.password_field :password, placeholder: 'Your password here'%>
  <%= f.label(:password_confirmation, "Confirm Password") %>
  <%= f.password_field :password_confirmation, placeholder: 'Please confirm your password here' %>
  <%= f.submit "Sign Up" %>
<% end %>

<%
=begin%>
 <%= form_tag("/users", method: "post") do %>
<%= label_tag(:email, "Email: ")%>
<%= text_field_tag(:email) %>
<%= label_tag(:username, "Username: ")%>
<%= text_field_tag(:username) %>
<%= label_tag(:password, "Password: ")%>
<%= password_field_tag(:password) %>
<%= label_tag(:password_confirmation, "Confirm Password: ")%>
<%= password_field_tag(:password_confirmation) %>
<%= submit_tag("Sign Up") %>
<% end %> 
<%
=end%>

 <%
=begin%>
 <form action="/users" method="post" accept-charset="UTF-8">
  <div class="w-full max-w-xs">
    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email" name="user[email]">
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" name="user[username]">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="text" placeholder="******************" name="user[password]">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password_confirmation">
          Confirm Password
        </label>
        <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password_confirmation" type="text" placeholder="******************" name="user[password_confirmation]">
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Sign Up
        </button>
      </div>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </form>
    <p class="text-center text-gray-500 text-xs">
      &copy; <%= Time.zone.now.year %> Rails Forms Sample
    </p>
  </div>
</form>  
<%
=end%>
