<!DOCTYPE html>
<html>

<head>
  <title>Re Former</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="flex items-center justify-between flex-wrap bg-blue-700 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <%= link_to  'Ruby on Rails Forms', root_path, class:'font-semibold text-xl tracking-tight uppercase' %>
  </div>
  <div class="block lg:hidden">
    <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
      <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
    </button>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <%= link_to  'Users', users_path, class: class_string('block mt-4 lg:inline-block lg:mt-0 hover:text-white mr-4 text-white', 'text-blue-200 font-bold': (users_path.eql? request.original_fullpath ) || (request.original_fullpath.eql? '/')) %>
    </div>
    <div>
      <%= link_to  'New User', new_user_path, class:'inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0' %>
    </div>
  </div>
</nav>

  <% if flash[:notice] %>
    <div class="px-2 py-4 w-full bg-blue-500 text-white">
      <p class="notice"> <%= notice %> </p>
      </div>
  <% end %>

   <% if flash[:alert] %>
    <div class="px-2 py-4 w-full bg-blue-500 text-white">
      <p class="alert"> <%= alert %> </p>
    </div>
  <% end %>

  <%= yield %>
</body>

</html>